{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
    </head>
    <body>
        <h1>This is our index template</h1>
        <h4>
            <!--<a href="/myapp/items/{{item.id}}/">-->

            {% for item in items %}
            <a href="{% url 'myapp:detail' item.id %}">
            ID: {{item.id}} | Name: {{item.name}} | Price: {{item.price}} | Description: {{item.description}} <br/>
            <a>
            {% endfor %}
        </h4>
    </body>
</html>